
<div class="row align-items-center">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRh1joxwSHs-DH1-phF6RO_8xIMfRXAg-CBQg&usqp=CAU" 
         height="300px" width="300px">
        
</div>


<div class="row align-items-center">
 
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="Home/Logar">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Home/RecuperacaoConta">Recuperaçao de conta</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Home/Termos">Termo de uso</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="Home/Privacidade">Politica de privacidade</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link disabled" href="Home/Cadastro" aria-disabled="true">Cadastro</a>
        </li>
    </ul>
</div>



