<div class="row align-items-center">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRh1joxwSHs-DH1-phF6RO_8xIMfRXAg-CBQg&usqp=CAU"
         height="200px" width="200px">

</div>


<div class="row align-items-center">

    <ul class="nav justify-content-center">
        
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="Ajuda">Ajuda</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="Termos">Termo de uso</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="Privacidade">Politica de privacidade</a>
        </li>

        <li class="nav-item">
            <a class="nav-link disabled" href="Painel" aria-disabled="true">Painel do Usuario</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="Logar">Logout</a>
        </li>
    </ul>
</div>


<div class="row align-items-center">

    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="sessao1">sessao1</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="sessao2">sessao2</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="sessao3">sessao3</a>
        </li>

    </ul>
</div>