

<!DOCTYPE html>

<html>

<head>
  <title>title</title>
</head>
<body>
<div>
  
  @if (Model.msg != null)
      {
          <p>@Model.msg</p>
      }
  
  <form action="/Home/Logar/">

    <div class="mb-3">
      <label for="email" class="form-label">Email </label>
      <input type="email" class="form-control" id="email1">
    </div>

    <div class="mb-3">
      <label for="senha" class="form-label">Senha</label>
      <input type="password" class="form-control" id="senha">
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>

  </form>

</div>
</body>

</html>